<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.NRG.ScoutingApp.NRG_Scouting" android:versionCode="10" android:versionName="1.6" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="NRGScouting" android:theme="@style/MyTheme" android:icon="@drawable/icon"></application>
</manifest>